.section {
  width: 1280px;
  display: flex;
  flex-direction: column;
}
.section__content_image {
  width: 100%;
  height: 442px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.section__image {
  margin-left: 50%;
  width: 284px;
  height: 213px;
}
