.section {
  width: 1280px;
  flex-direction: column;
}
.section__content_image {
  width: 100%;
  height: 442px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.section__image {
  margin-left: 50%;
  width: 284px;
  height: 213px;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .section {
    width: 0px;
    height: 1812px;
    margin-left: 20%;
  }

  .section__content_image {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section__image {
    width: 284px;
    height: 213px;
  }
}


@media screen and (min-width: 545px) and (max-width: 1024px) {
.section{
width: 720px;
height: 1104px;
}
.section__content_image{
display: grid;
grid-template-columns: repeat(2,50%);
}

.section__image{
  width: 352px;
  height: 264px;
}
}