.stories {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 76px;
}

.stories__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 125px repeat(3, 1fr) 50px;
  grid-gap: 48px 40px;
}
.stories__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  max-width: 460px;
  grid-column: span 3;
  padding-top: 12%;
}

.stories__link-heading {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 3px;
}

.stories__header--creator {
  line-height: 22px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .stories {
    max-width: 320px;
    gap: 50px;
    margin: 0 auto 65px;
  }

  .stories__content {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 0fr) 50px;
    grid-gap: 30px 0;
  }

  .stories__link {
    padding: 0;
    grid-column: 1;
    grid-row: 2;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .stories {
    max-width: 720px;
    gap: 72px;
  }

  .stories__content {
    grid-template-rows: 90px 1fr repeat(2, 50px);
  }

  .stories__header_muramvya {
    padding: 0;
  }

  .stories__link {
    padding: 10px;
  }
}